{% extends "network/layout.html" %}

{% block body %}

<div id='profile-view'></div>

<div id="newPost-view">
    {% if user.is_authenticated %}
    <br>
    <div class="container-md" id="newPost-container">
        <h3><b>New Post</b></h3>
        <form id='new-post-form' method="POST"> 
            {% csrf_token %}
            <textarea id='post-text' placeholder="Your new post..." cols=50 rows=5></textarea>
            <button type="submit" id="newPost-Btn" class="btn btn-outline-secondary">Post</button>
        </form>
    </div>
    {% endif %}
</div>
    

<div id='posts-view'></div>


<br>
<div id='pagination-block'>
<nav aria-label="...">
  <ul class="pagination" id='button-numbers'>
    <li class="page-item disabled" id='previous-page-btn'>
      <a class="page-link" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
    </li>

    <li class="page-item disabled" ><a class="page-link" id="page-number">1</a></li>

    <li class="page-item disabled" id='next-page-btn'>
      <a class="page-link" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
    </li>
  </ul>
</nav>
<div>

{% endblock %}