#newPost-display {
    display: none;
}

#newPost-container {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(202, 196, 196);
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    background-color: whitesmoke;
}

#profile-container {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(202, 196, 196);
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    background-color: whitesmoke;
}

textarea {
    resize: none;
    width: 100%;
    height: 100px;
    border-radius: 5px;
}

#newPostBtn {
    text-align: right;
}

.nav-link {
    cursor: pointer !important;
}

.post-creator {
    cursor: pointer !important;
}

#post-container {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(202, 196, 196);
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    background-color: whitesmoke;
}

#post-time {
    font-size: small;
    color: grey;
}

#navbar {
    background-color: rgba(167, 211, 253, 0.959) !important;
}

body {
    background-color: white;
}

#username-table {
    width: 30%;
}

#follow-table {
    width: 15%;
    text-align: center;
}

#number-table {
    width: 5%;
    text-align: left;
}

/* td {
    border: solid;
    border-width: 4px;
} */
